.name_cell {
  max-width: 150px;
}

.description_cell {
  font-weight: 400;

  color: var(--fg-body-secondary) !important;
}

.description {
  max-width: 350px;

  text-align: left;
  text-overflow: ellipsis;

  text-wrap: nowrap;
  overflow: hidden;
}

.created_cell {
  text-align: right !important;
}
