html.dark {
  /* ----- BACKGROUND COLORS ----- */

  --bg-primary-default: #030712;
  --bg-primary-hover: #0e131d;

  --bg-secondary-default: #1f2937;

  /* ----- TEXT COLORS ----- */

  --fg-heading: #ffffff;

  --fg-body-primary: #d1d5db;
  --fg-body-secondary: #6b7280;

  /* ----- BORDER COLORS ----- */

  --border-default: #1f2937;
  --border-hover: #4b5563;

  /* ----- ACCENT COLORS ----- */

  --accent-default: #3366ff;
  --accent-default-hover: #254edb;

  --accent-overlay: #f1f6ff;
  --accent-overlay-hover: #d6e4ff;

  --accent-border: #3366ff;

  /* ----- GRAY COLORS ----- */

  --gray-default: #6b7280;
  --gray-default-hover: #d1d5db;

  --gray-overlay: #f9fafb;
  --gray-overlay-hover: #d1d5db;

  --gray-border: #d1d5db;

  /* ----- RED COLORS ----- */

  --red-default: #ff352b;
  --red-default-hover: #db1f26;

  --red-overlay: #1a0000;
  --red-overlay-hover: #350303;

  --red-border: #ff352b;

  /* ----- GREEN COLORS ----- */

  --green-default: #84d82b;
  --green-default-hover: #67b91f;

  --green-overlay: #faffee;
  --green-overlay-hover: #f1fdd4;

  --green-border: #84d82b;

  /* ----- AMBER COLORS ----- */

  --amber-default: #f59e0b;
  --amber-default-hover: #d1d5db;

  --amber-overlay: #451a03;
  --amber-overlay-hover: #d1d5db;

  --amber-border: #ca8a04;
}
