html.light {
  /* ----- BACKGROUND COLORS ----- */

  --bg-primary-default: #fff;
  --bg-primary-hover: #f3f4f6;

  --bg-secondary-default: #e5e7eb;

  /* ----- TEXT COLORS ----- */

  --fg-heading: #030712;

  --fg-body-primary: #374151;
  --fg-body-secondary: #9ca3af;

  /* ----- BORDER COLORS ----- */

  --border-default: #d1d5db;
  --border-hover: #9ca3af;

  /* ----- ACCENT COLORS ----- */

  --accent-default: #3366ff;
  --accent-default-hover: #254edb;

  --accent-overlay: #f1f6ff;
  --accent-overlay-hover: #d6e4ff;

  --accent-border: #3366ff;

  /* ----- GRAY COLORS ----- */

  --gray-default: #6b7280;
  --gray-default-hover: #d1d5db;

  --gray-overlay: #f9fafb;
  --gray-overlay-hover: #d1d5db;

  --gray-border: #d1d5db;

  /* ----- RED COLORS ----- */

  --red-default: #ff352b;
  --red-default-hover: #db1f26;

  --red-overlay: #fff5ef;
  --red-overlay-hover: #ffe4d4;

  --red-border: #ff352b;

  /* ----- GREEN COLORS ----- */

  --green-default: #84d82b;
  --green-default-hover: #67b91f;

  --green-overlay: #faffee;
  --green-overlay-hover: #f1fdd4;

  --green-border: #84d82b;

  /* ----- AMBER COLORS ----- */

  --amber-default: #d97706;
  --amber-default-hover: #d97706;

  --amber-overlay: #fffbeb;
  --amber-overlay-hover: #fef3c7;

  --amber-border: #d97706;
}
