.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 12px;
}

.labels_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label,
.recover_password_link,
.hint,
.error {
  font-size: 12px;
}

.label,
.recover_password_link {
  color: var(--fg-body-primary);
}

.recover_password_link {
  text-decoration: none;

  transition: all 200ms ease-in-out;
}

.recover_password_link:hover {
  color: var(--accent-default);
}

.error {
  color: var(--error-default);
}

.hint {
  color: var(--fg-body-secondary);

  font-weight: 500;
}

.input_container {
  width: 100%;
  height: 40px;

  min-width: 0;

  padding-right: 12px;

  display: flex;
  align-items: center;

  background-color: var(--bg-primary-default);

  border: solid 1px var(--border-default);
  border-radius: 8px;

  transition: all 150ms ease-in-out;
}

.input_container:hover {
  background-color: var(--bg-secondary-default);
}

.input_container[data-error="true"] {
  border-color: var(--error-default);
}

.input {
  width: 100%;
  height: 100%;

  padding-left: 16px;

  font-size: 14px;
  font-weight: 500;

  color: var(--fg-body-primary);

  background-color: transparent;

  border: none;
  outline: none;
}

.input::placeholder {
  color: var(--fg-body-secondary);
}

.input_container:has(.input:hover) {
  background-color: var(--bg-secondary-default);
}

.input_container:has(.input:focus) {
  background-color: var(--bg-secondary-default);
  border-color: var(--border-hover);
}

.show_password_button {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background-color: transparent;
  border: none;
}
