.container,
.heading,
.form,
.fields_container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;

  align-items: center;
}

.form {
  width: 100%;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.fields_container {
  gap: 0.75rem;

  border: none;
  outline: none;
}

.server_error {
  font-size: 0.75rem;

  text-align: center;

  color: red;
}

.success_message_container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.success_message_container a,
.success_message_container svg {
  color: var(--text-light);
  fill: var(--text-light);
}

.success_message_container a {
  display: flex;
  align-items: center;

  gap: 0.5rem;

  font-size: 0.85rem;
  font-weight: 500;

  text-decoration: none;

  transition: all 150ms ease-in-out;
}

.success_message_container a:hover,
.success_message_container svg:hover {
  color: var(--text-default);
}

.success_message {
  width: 100%;

  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;

  gap: 0.85rem;

  background-color: #f0fdf4;

  border: solid 2px #bbf7d0;
  border-radius: 0.5rem;
}

.success_message svg {
  font-size: 1.25rem;

  fill: #22c55e;
}

.success_message span {
  color: #22c55e;

  font-size: 0.9rem;
}
