.container,
.fields_container,
.heading,
.form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.container {
  gap: 24px;
}

.heading {
  gap: 8px;
}

.heading h2 {
  font-size: 24px;
  font-weight: 600;
}

.heading p {
  font-size: 14px;
}

.form {
  gap: 32px;
}

.fields_container {
  gap: 16px;
}

.buttons_container {
  display: flex;
  justify-content: space-between;

  gap: 16px;
}

.buttons_container button[data-fullwidth="true"] {
  flex: 1;
}
