.container,
.heading,
.form,
.fields_container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;

  align-items: center;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.fields_container {
  gap: 16px;

  border: none;
  outline: none;
}

.server_error {
  font-size: 12px;

  text-align: center;

  color: var(--error-default);
}

.invalid_token_container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.redirection_link,
.redirection_link svg {
  color: var(--fg-body-primary);
  fill: var(--fg-body-primary);
}

.redirection_link {
  display: flex;
  align-items: center;

  gap: 12px;

  font-size: 14px;
  font-weight: 500;

  text-decoration: none;

  transition: all 150ms ease-in-out;
}

.redirection_link:hover,
.redirection_link:hover svg {
  color: var(--fg-heading);
  fill: var(--fg-heading);
}

.invalid_token_message {
  width: 100%;

  padding: 16px 20px;

  display: flex;
  align-items: center;

  gap: 12px;

  background-color: var(--error-overlay);

  border: solid 2px var(--error-default);
  border-radius: 0.5rem;
}

.invalid_token_message a {
  color: var(--error-default);

  font-weight: 500;
}

.invalid_token_message span {
  color: var(--error-default);

  font-size: 15px;

  line-height: 1.5;
}

.success_message_container {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 24px;
}
