.container,
.heading,
.form,
.fields_container {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;

  align-items: center;
}

.error_icon {
  margin-bottom: 1rem;

  font-size: 7rem;

  text-align: center;

  color: red;
  fill: red;
}

.heading {
  text-align: center;

  gap: 1rem;

  margin-bottom: 1.5rem;
}

.heading span {
  font-size: 0.85rem;
}

.form {
  width: 100%;
  max-width: 350px;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.fields_container {
  gap: 0.75rem;

  border: none;
  outline: none;
}

.server_error {
  font-size: 0.75rem;

  text-align: center;

  color: red;
}

.recover_password_link,
.sign_redirection_link {
  color: var(--text-light);

  font-size: 0.75rem;

  text-decoration: none;

  transition: all 200ms ease-in-out;
}

.sign_redirection_link:hover,
.recover_password_link:hover {
  color: var(--text-default);
}

.recover_password_link {
  text-align: right;
}
