.switch,
.handler {
  display: flex;
  align-items: center;
}

.switch {
  width: 48px;

  padding: 3px;

  background-color: var(--bg-primary-default);

  cursor: pointer;

  outline: none;
  border: solid 1px var(--border-default);
  border-radius: 100px;
}

.switch[data-is-on="true"] {
  justify-content: flex-end;
}

.handler {
  width: 24px;
  height: 24px;

  color: var(--fg-heading);

  justify-content: center;

  font-size: 12px;

  background-color: var(--bg-secondary-default);

  border-radius: 100px;
}
