.container {
  display: flex;
  flex-direction: column;

  border: solid 1px var(--border-default);
  border-radius: 16px;

  overflow: hidden;
}

.content {
  width: 100%;

  padding: 24px;
}

.actions_container {
  width: 100%;

  background-color: var(--bg-secondary-default);

  padding: 16px 24px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 16px;

  border-top: solid 1px var(--border-default);
}
