.listbox_button_container {
  width: 350px;
  height: 40px;

  padding: 0 16px;

  background-color: transparent;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  gap: 12px;

  border: solid 1px var(--border-default);
  border-radius: 8px;

  outline: none;
  appearance: none;

  transition: all 150ms ease-in-out;
}

.listbox_button_container:hover {
  color: var(--fg-heading);

  background-color: var(--bg-primary-hover);
}

.label_container {
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  gap: 12px;
}

.listbox_button_container:hover .user_initial {
  border-color: var(--border-hover);
}

.listbox_options_container {
  width: var(--button-width);

  padding: 8px;

  background-color: var(--bg-secondary-default);

  display: flex;
  flex-direction: column;

  gap: 8px;

  border: solid 1px var(--border-default);

  border-radius: 12px;
}

.option {
  width: 100%;
  height: 36px;

  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;

  text-decoration: none;

  display: flex;
  align-items: center;

  background-color: transparent;
  appearance: none;

  border-radius: 8px;
  border: solid 1px transparent;
  outline: none;

  cursor: pointer;

  gap: 12px;

  transition: all 150ms ease-in-out;
}

.option:hover {
  color: var(--);
  background-color: var(--bg-primary-hover);
}

.option_danger:hover {
  color: var(--error-default);
  background-color: var(--error-overlay);

  border-color: var(--error-hover);
}

.option_selected_icon_container {
  width: 24px;
  height: 24px;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.option_selected_icon {
  display: none;
}

.option[data-selected] .option_selected_icon {
  display: inline-block;
}

.option[data-selected] {
  background-color: var(--bg-primary-default);
}

.option[data-selected]:hover {
  background-color: var(--bg-primary-hover);
}

.carwash_list {
  display: flex;
  flex-direction: column;

  gap: 8px;

  padding-bottom: 16px;
  margin-bottom: 6px;

  border-bottom: solid 1px var(--border-default);
}
