.container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 24px 16px;

  font-size: 14px;
  font-weight: 500;

  line-height: 1.6;
}

.form {
  width: 100%;

  padding: 16px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  gap: 16px;

  border-top: solid 1px var(--border-default);
}
